{% extends 'base.html' %}
{% load static %}
{% block table-content %}


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Employee Master</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <a href="{% url 'accounts:super-admin-login' %}">
                        <li class="breadcrumb-item active">home</li>
                    </a>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

{% if employee_master_list %}

<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-end">

    <!--====================================== List of Employee Masters ===================================-->

            <a style="text-decoration:none; color:white" href="{% url 'teacher:add_employee_master' %}"><button
                    class="btn btn-md btn-primary"><i class="fa fa-plus"></i> Add New</button>
            </a>
        </div>
        <div class="card">
            <div class="card-body">

                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>EmpNo.</th>
                            <th>Employee Name</th>
                            <th>Join Date</th>
                            <th>Father Name</th>
                            <th>Designation</th>
                            <th>Status</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee_master in employee_master_list %}
                        <tr>
                            <td>{{employee_master.emp_no}}</td>
                            <td>{{employee_master.first_name}}</td>
                            <td>{{employee_master.join_date}}</td>
                            <td>{{employee_master.father_name}}</td>
                            <td>{{employee_master.designation}}</td>
                            <td>{{employee_master.employee_status}}</td>
                            <td>
                                <a href="{% url 'teacher:update_employee_master' employee_master.pk %}"
                                    class="btn btn-sm btn-primary" style="padding:0.001rem"  title="Edit">
                                     <i class="fas fa-pencil-alt"></i>
                                </a>
                                <button class="btn btn-sm btn-danger"  
style="padding:0.001rem" title="Delete" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal"
                                    data-url="{% url 'teacher:delete_employee_master' employee_master.pk %}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-end">

    <!--======================================= List of Institutes ========================================-->

            <a style="text-decoration:none; color:white" href="{% url 'teacher:add_employee_master' %}"><button
                    class="btn btn-md btn-primary"><i class="fa fa-plus"></i>  Add New </button>
                </a>
        </div>
        <div class="card">
            <div class="card-body">

                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>EmpNo.</th>
                            <th>Employee Name</th>
                            <th>Join Date</th>
                            <th>Father Name</th>
                            <th>Designation</th>
                            <th>Status</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock table-content %}