{% extends 'base.html' %}
{% load static %}
{% block table-content %}


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Data Tables</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <a href="{% url 'accounts:super-admin-login' %}">
                        <li class="breadcrumb-item active">home</li>
                    </a>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
{% if 'category_list' %}

<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-end">

            <!--                                    List of Institutes                                 -->


            <a style="text-decoration:none; color:white" href="{% url 'institute:add_category' %}"><button
                    class="btn btn-md btn-primary"><i class="fa fa-plus"></i> create</button></a>
        </div>
        <div class="card">
            <div class="card-body">

                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Cayegory Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>


                    <tbody>
                        {% for category in category_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{category.name}}</td>
                            {% comment %} <td>
                                <a href="{% url 'institute:institute_update' institute.pk %}"
                                    class="btn btn-sm btn-primary" title="Edit">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a href="{% url 'institute:institute_delete' institute.pk %}"
                                    class="btn btn-sm btn-danger" title="Delete">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td> {% endcomment %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock table-content %}