{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="card-header">
        <div class="container">
            {% if user_form.instance.pk %}
                <h2>Modify Institute</h2>
            {% else %}
            <div >
                <h2>Create Institute</h2>
            </div>
            {% endif %}
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="form-group col-md-4">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ form.last_name|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ form.username|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                {{ form.email|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ form.phone_number|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ form.role|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                {{ form.password1|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ form.password2|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                {{ profile_form.registration_number|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ profile_form.institute_name|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ profile_form.branch_name|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                {{ profile_form.billing_name|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ profile_form.address1|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ profile_form.address2|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                {{ profile_form.state|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ profile_form.district|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ profile_form.pin|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                {{ profile_form.mobile_number|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ profile_form.mobile_number2|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ profile_form.fax_number|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                {{ profile_form.email|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ profile_form.website|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ profile_form.principal_name|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                {{ profile_form.acc_start_year|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ profile_form.session_start_month|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ profile_form.accredited_by|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                {{ profile_form.scholar_prefix|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ profile_form.scholar_suffix|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ profile_form.emp_no_prefix|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                {{ profile_form.no_of_pg_in_tcbook|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ profile_form.profile_image|as_crispy_field }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                {{ profile_form.auto_enroll_no|as_crispy_field }}
                {{ profile_form.std_attd_assignment|as_crispy_field }}
                {{ profile_form.live_class_show_time|as_crispy_field }}
                {{ profile_form.allow_edit_emp_attd_time|as_crispy_field }}
                {{ profile_form.show_std_contact_no_app|as_crispy_field }}
                {{ profile_form.auto_admin_number|as_crispy_field }}
                {{ profile_form.live_class_log_Std|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ profile_form.suggest_auto_section|as_crispy_field }}
                {{ profile_form.send_Std_wc_msg|as_crispy_field }}
                {{ profile_form.auto_scholar_no|as_crispy_field }}
                {{ profile_form.single_login|as_crispy_field }}
                {{ profile_form.suggest_auto_house|as_crispy_field }}
                {{ profile_form.allow_ss_in_app|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ profile_form.auto_emp_no|as_crispy_field }}
                {{ profile_form.std_attd_through_live_class|as_crispy_field }}
                {{ profile_form.login_with_single_device|as_crispy_field }}
                {{ profile_form.show_yt_opt_4_app|as_crispy_field }}
                {{ profile_form.show_teach_mo_no_app|as_crispy_field }}
                {{ profile_form.show_exam_list_res_wise|as_crispy_field }}
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock content %}
