{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <h2>{% if form.instance.pk %}Update{% else %}Create{% endif %} Exam Type</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form |crispy }}
    {% if form.errors %}
        <div class="form-errors">
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}: 
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
  </form>
{% endblock %}