{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card m-4 p-4">
    <div class="card-header">
        <div class="container">
            <h2>Modify Employee</h2>
        </div>
    </div>    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-5 d-flex flex-column align-items-center">
                <div class="">
                <h5>Image</h5>
                <div id="imagePreview" class="border p-2 mb-3" style="height: 200px; width: 200px; background-size: cover; background-position: center;">
                    <!-- Image preview will be shown here -->
                </div>
                {{ profile_form.user_image|as_crispy_field }}
            </div>
            </div>
            <div class="col-md-7 p-2">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        {{ profile_form.employee_name|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ user_form.first_name|as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ profile_form.middle_name|as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ user_form.last_name|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ user_form.username|as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ user_form.password1|as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ user_form.password2|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ user_form.phone_number|as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ user_form.email|as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ profile_form.confirm_email|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ profile_form.nick_name|as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ profile_form.position|as_crispy_field }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ profile_form.staff_role|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ user_form.role|as_crispy_field }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <a href="{% url 'institute:list_of_employees' %}" class="btn btn-secondary">Back to List</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>

{% comment %} """ this script should be placed here instead of placing it in base.html file
    Beacuse It conflicts with dependent dropdown in the home page 
    
    if this script is placed in the base.html file the side menu will be dissappear""" {% endcomment %}
<script>
document.addEventListener('DOMContentLoaded', function() {

imageInput.addEventListener('change', function(e) {
    const file = e.target.files[0];
    if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
            imagePreview.style.backgroundImage = `url('${e.target.result}')`;
        }
        reader.readAsDataURL(file);
    }
});
});
</script>
{% endblock content %}