{% extends 'base.html' %}
{% load static %}
{% block table-content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Students List</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <a href="{% url 'accounts:super-admin-login' %}">
                        <li class="breadcrumb-item active">home<<</li>
                    </a>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
{% if employees %}
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-end">
<!--======================================= List of students ====================================-->
<form method="get" class="d-flex align-items-center mb-4">
    {% comment %} <div class="me-3">
        <label for="class" class="form-label fw-bold">Select a Class:</label>
        <select id="class" name="class" class="form-select">
            <option value="" disabled selected>Select Class</option>
            {% for standard in standards %}
                <option value="{{ standard.id }}">{{ standard.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <button type="submit" class="btn btn-primary mt-4">Filter Students</button>
    </div> {% endcomment %}
</form>
        </div>
        <div class="card">
            <div class="card-body">
                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Employee Name</th>
                            {% comment %} <th>Reg.No.</th> {% endcomment %}
                            <th>Father's Name</th>
                            <th>Mob. No.</th>
                            <th>D.O.B</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{employee.first_name}} {{employee.last_name}}</td>
                            {% comment %} <td>{{employee.reg_no|slice:"0:10"}}</td> {% endcomment %}
                            <td>{{employee.father_name}}</td>
                            <td>{{employee.mobile_number}}</td>
                            {% comment %} <td>{{employee.standard}}</td> {% endcomment %}
                            <td>{{employee.dob}}</td>
                            <td>
                                <a href="{% url 'hr:teacher_id_card' employee.pk %}"
                                    class="btn btn-sm btn-primary" style="padding:0.001rem"  title="Edit">
                                     <i class="fas fa-eye"></i>
                                </a>
                                {% comment %} <button class="btn btn-sm btn-danger"  
                                    style="padding:0.001rem" title="Delete" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal"
                                    data-url="{% url 'students:student_delete' student.pk %}">
                                    <i class="fas fa-trash-alt"></i>
                                </button> {% endcomment %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-end">
<!--======================================= List of students ====================================-->
<form method="get" class="d-flex align-items-center mb-4">
    {% comment %} <div class="me-3">
        <label for="class" class="form-label fw-bold">Select a Class:</label>
        <select id="class" name="class" class="form-select">
            <option value="" disabled selected>Select Class</option>
            {% for standard in standards %}
                <option value="{{ standard.id }}">{{ standard.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <button type="submit" class="btn btn-primary mt-4">Filter Students</button>
    </div> {% endcomment %}
</form>
        </div>
        <div class="card">
            <div class="card-body">
                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Name</th>
                            <th>Reg.No.</th>
                            <th>Mob. No.</th>
                            <th>D.O.B</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock table-content %}