{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Timetable List</h2>
	<hr>
    <div class="row mb-4">
        <div class="col-md-3">
            <select id="standard" class="form-control">
                <option value="">Select Standard</option>
                {% for standard in standards %}
                    <option value="{{ standard.id }}" {% if standard.id == selected_standard %}selected{% endif %}>
                        {{ standard.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <select id="day_of_week" class="form-control">
                <option value="">Select Day</option>
				<option value="MON" {% if selected_day == 'MON' %}selected{% endif %}>Monday</option>
                <option value="TUE" {% if selected_day == 'TUE' %}selected{% endif %}>Tuesday</option>
                <option value="WED" {% if selected_day == 'WED' %}selected{% endif %}>Wednesday</option>
                <option value="THU" {% if selected_day == 'THU' %}selected{% endif %}>Thursday</option>
                <option value="FRI" {% if selected_day == 'FRI' %}selected{% endif %}>Friday</option>
                <option value="SAT" {% if selected_day == 'SAT' %}selected{% endif %}>Saturday</option>
                <option value="SUN" {% if selected_day == 'SUN' %}selected{% endif %}>Sunday</option>
            </select>
        </div>
        <div class="col-md-2">
            <button id="filter-button" class="btn btn-primary">Filter</button>
        </div>
        <div class="col-md-2 text-right">
            <a href="{% url 'institute:timetable_list' %}" class="btn btn-primary">All Data</a>
        </div>
		<div class="col-md-2 text-right">
            <a href="{% url 'institute:create_timetable' %}" class="btn btn-info">Create Timetable</a>
        </div>
    </div>
	
    <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap w-100">
        <thead>
            <tr>
				<th>Day of Week</th>
                <th>Period</th>
                <th>Standard</th>
                <th>Section</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Subject</th>
                <th>Teacher</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for timetable in timetables %}
                <tr>
					<td>{{ timetable.get_day_of_week_display }}</td>   <!--The get_day_of_week_display method is a built-in Django method that returns the human-readable value for a model's choices field. It’s used to get the display value of a field that has choices defined.-->
                    <td>{{ timetable.period_no }}</td>
                    <td>{{ timetable.standard.name }}</td>
                    <td>{{ timetable.section.name }}</td>
                    <td>{{ timetable.start_time }}</td>
                    <td>{{ timetable.end_time }}</td>
                    <td>{{ timetable.subject.name }}</td>
                    <td>{{ timetable.faculty.user.first_name }} </td>
                    <td>
						<a href="{% url 'institute:edit_timetable' timetable.id %}"
							class="btn btn-sm btn-primary"
							title="Edit">
							<i class="fas fa-pencil-alt"></i>
						</a>
                        <button class="btn btn-sm btn-danger"  
						title="Delete" data-bs-toggle="modal"
						data-bs-target="#deleteModal"
						data-url="{% url 'institute:delete_timetable' timetable.pk %}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
					</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.getElementById('filter-button').addEventListener('click', function() {
        var standard = document.getElementById('standard').value;
        var dayOfWeek = document.getElementById('day_of_week').value;
        var url = new URL(window.location.href);
        
        if (standard) {
            url.searchParams.set('standard', standard);
        } else {
            url.searchParams.delete('standard');
        }
        
        if (dayOfWeek) {
            url.searchParams.set('day_of_week', dayOfWeek);
        } else {
            url.searchParams.delete('day_of_week');
        }
        
        window.location.href = url.toString();
    });
</script>

{% endblock %}
