{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <fieldset>
        <legend class="card-header d-flex flex-vertical justify-content-center mb-3">
            {% if form.instance.pk %}
                    <h2>Modify Student's Installment Schedule </h2>
                {% else %}
                <div >
                    <h2>Student's Installment Schedule</h2>
                </div>
                {% endif %}
        </legend>
    </fieldset>
    <form method="post">
        {% csrf_token %}
        <div class="row ">
            <div class="col-md-4">
               {{form.student|as_crispy_field}}
            </div>
            <div class="col-md-4">
               {{form.fee_structure|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.paying_amount|as_crispy_field}}
            </div>
            <div class="col-md-4">
               {{form.installment_frequency|as_crispy_field}}
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary col-md-2">Save</button>
    </form>
</div>
{% endblock %}