{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="profile-header">
            {% if user.role == "2" %}
            {% if institute.profile_image %}
            <img src="{{institute.profile_image.url}}" alt="Profile Picture">
            {% else %}
            <img src="{% static 'assets/images/jack.png'%}" alt="Profile Picture">
            {% endif %}
            <h2>{{ institute.institute_name }}</h2>
            <p>{{ user.email }}</p>
            {% endif %}
            {% if user.is_superuser or user.role == "1" %}
            <img src="{% static 'assets/images/jack.png'%}" alt="Profile Picture">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p>{{ user.email }}</p>
            {% endif %}

        </div>
        <div class="list-group">
            <a href="{% url 'institute:institute_profile' %}" class="list-group-item list-group-item-action">Profile</a>
            <a href="#" class="list-group-item list-group-item-action">Recent Activity</a>
            {% comment %} <a href="{% url 'accounts:institute_update' institute.pk %}" class="list-group-item list-group-item-action">Edit Profile</a> {% endcomment %}
        </div>
    </div>
    {% if user.role == "2" %}
        <div class="col-md-8 profile-info">
            <h3>Institute Details</h3>
            <p><strong>Registration Number:</strong> {{ institute.registration_number }}</p>
            <p><strong>Institute Name:</strong> {{ institute.institute_name }}</p>
            <p><strong>Number Of Branches:</strong> {{ institute.number_of_branches }}</p>
            <p><strong>Address 1:</strong> {{ institute.address1 }}</p>
            <p><strong>Address 2:</strong> {{ institute.address2 }}</p>
            <p><strong>Billing Name:</strong> {{ institute.billing_name }}</p>
            {% comment %} <p><strong>State:</strong> {{ institute.state }}</p>
            <p><strong>District:</strong> {{ institute.district }}</p>
            <p><strong>Pin:</strong> {{ institute.pin }}</p>
            <p><strong>Mobile Number:</strong> {{ institute.mobile_number }}</p>
            <p><strong>Institute Email:</strong> {{ institute.institute_email }}</p>
            <p><strong>Website:</strong> <a href="{{ institute.website }}" target="_blank">{{ institute.website }}</a></p>
            <p><strong>Principal Name:</strong> {{ institute.principal_name }}</p>
            <p><strong>Account Start Year:</strong> {{ institute.acc_start_year }}</p>
            <p><strong>Session Start Month:</strong> {{ institute.session_start_month }}</p>
            <p><strong>Accredited By:</strong> {{ institute.accredited_by }}</p> {% endcomment %}
        </div>
        {% endif %}
    </div>
</div>
{% if user.is_superuser or user.role == "1" or user.role == "2" %}
<div class="row">
    <div class="col-md-3">
        <div class="card dashboard-card bg-purple">
            <div class="btn d-flex justify-content-between">
                <div>
                    <h4>1</h4>
                    <p>Total Students</p>
                </div>
                <div>
                    <i style="font-size:4rem;" class="fa fa-medal"></i>
                </div>
            </div>
            <a href="#" class="text-white">More info</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card dashboard-card bg-blue">
            <div class="btn d-flex justify-content-between">
                <div>
                    <h4>0</h4>
                    <p>Student Attendance</p>
                </div>
                <div>
                    <i style="font-size:4rem;" class="fa fa-medal"></i>
                </div>
            </div>
            <a href="#" class="text-white">More info</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card dashboard-card bg-cyan">
            <div class="btn d-flex justify-content-between">
                <div>
                    <h4>&#8377;28000</h4>
                    <p>Staff Attendance</p>
                </div>
                <div>
                    <i style="font-size:4rem;" class="fa fa-medal"></i>
                </div>
            </div>
            <a href="#" class="text-white">More info</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card dashboard-card bg-blue">
            <div class="btn d-flex justify-content-between">
                <div>
                    <h4>&#8377; 0</h4>
                    <p>Student Birthday</p>
                </div>
                <div>
                    <i style="font-size:4rem;" class="fa fa-medal"></i>
                </div>
            </div>
            <a href="#" class="text-white">More info</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card dashboard-card bg-purple">
            <h4>1</h4>
            <p>Staff Birthday</p>
            <a href="#" class="text-white">More info</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card dashboard-card bg-blue">
            <h4>0</h4>
            <p>Fee Reminder</p>
            <a href="#" class="text-white">More info</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card dashboard-card bg-cyan">
            <h4>&#8377;28000</h4>
            <p>Discount Request (3)</p>
            <a href="#" class="text-white">More info</a>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <h4>&#8377; Fee Summary</h4>
        <div class="chart-container">
            <canvas id="feeSummaryChart"></canvas>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}