{% extends 'base.html' %}
{% load static %}
{% block table-content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Nationality List Tables</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <a href="{% url 'accounts:super-admin-login' %}">
                        <li class="breadcrumb-item active">home</li>
                    </a>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
{% if nationality_list %}
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-end">
            <a style="text-decoration:none; color:white" href="{% url 'institute:add_nationality' %}"><button
                    class="btn btn-md btn-primary"><i class="fa fa-plus"></i> create</button></a>
        </div>
        <div class="card">
            <div class="card-body">

                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Country Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>


                    <tbody>
                        {% for country in nationality_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{country.name}}</td>
                            <td>
                                <a href="{% url 'institute:update_nationality' country.pk %}"
                                    class="btn btn-sm btn-primary" title="Edit">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <button class="btn btn-sm btn-danger" title="Delete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="{% url 'institute:nationality_delete' country.pk %}"><i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-end">
            <a style="text-decoration:none; color:white" href="{% url 'institute:add_nationality' %}"><button
                    class="btn btn-md btn-primary"><i class="fa fa-plus"></i> create</button></a>
        </div>
        <div class="card">
            <div class="card-body">

                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Country Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </tbody>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock table-content %}